flake8>=3.8.4
black==20.8b1
ipython>=7.1.1
isort>=5.7
jupyter>=1.0
nbconvert>=5.4.0
nbformat>=4.4.0
nbsphinx
nbsphinx-link
pre-commit
pydata-sphinx-theme>=0.4.0
pytest>=4.4
sphinx>=3.0
sphinx-autodoc-typehints
sphinx-material
typing_extensions
